main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 100px 70px 10px;
}

main h1 {
  font-size: 75px;
}

main h2 {
  font-size: 35px;
}

#works-gallery {
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

#works-gallery > div {
  border: 5px solid white;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#works-gallery > div > div {
  background-color: white;
  height: 30%;
  width: 100%;
  border-radius: 0;
}
